.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}

.heading {
   
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading>p{
    font-size: 14px;
}
.formOuter{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100vh;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.form{
width: 60%;
height: 100%;
background-color: white;
padding: 10px;
box-sizing: border-box;
}
.address{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        box-sizing: border-box;
    width: 40%;
    height: 100%;
    background-color: blueviolet;
    color: beige;
    font-size: 12px;
   

}
.mail,.phone,.addresssection{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
}
.label{
    width: 45%;
}
.value{
width: 45%;
}