*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav {
    height: 65px;
    width: 100vw;
    background-color: #0b2983;
    display: flex;
    justify-content: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
#nav>article{
    height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;


}
#nav>article>.menu{
   
        height: 100%;
        width: 60%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
          
}
#nav>article>.menu>ol{
    height: 100%;
    width: 90%;
        list-style-type: none;
        display: flex;
        align-items: center;  
       
}

#nav>article>.menu>ol>li>a {
    text-decoration: none;
    color: white;
font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-right:20px ;
} 

#nav>article>.menu>ol>li:hover {
    cursor: pointer;
}

#nav>article>.menu>ol>li>a>img{  
    width: 100px;
    height: 70px;
    position: relative;
    right: 70px;
}

#nav>article>.rightside{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
    height: 100%;  
    width: 22%;
   
}

.profile{
    width: 40%;
}

.profile>.collapse>.profileSlide{
    width: 150px;
    height: 80px;
}

.collapse{
    background-color: #fbc531;
}
#nav>article>.rightside>.profile>a{
    text-decoration: none;
        color: white;
font-family: 'Raleway', sans-serif;
        font-size: 14px;
        padding: 0%;
}
.body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #141b29, #0c111b 300px);
}
.categoryIcon{
    display: none;
   
}
.showMenu {
 display: none;
    width: 40vw;
    height: 35vh;
    background-color: #141b29;
    border-radius: 0 0 5px 5px;
    opacity: 0.7;
text-align: center;
position: relative;
left: 60vw;

}

.showMenu>ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;


}

.showMenu>ul>li {
    list-style-type: none;
    width: 100%;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    
}
.showMenu>ul>li>.profileLogo,.login{
    color: white;
    font-size: 2.5vw;
    width: 100%;
    text-decoration: none;
}

.showMenu>ul>li>.searchbox>input {
    width: 80%;
    height: 20%;
    border: none;
    color: rgb(255, 255, 255);
    outline: 0;
    padding: 0 28px 0 0px;
    padding-left: 10px;
    border-radius: 0;
    background: none;
    font-size: 2vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.model {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelHeader{
display: flex;
    justify-content: center;
    align-items: center;
}
.modelBody {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------responsive-------------------  */
@media (max-width:640px) {

    .menu>ol>li:not(:first-child) {
        display: none;
    }

    #nav{
        height: 45px;
    }
    #nav>article>.menu>ol>li>a>img {
        width: 60px;
        height: 35px;
        margin-left: 20px;
    }

    .rightside>.profile {
        display: none;
    }

    .rightside>.search {
        display: none;
    }
     .rightside>.login {
            display: none;
           
        }
    .rightside>.categoryIcon {
        display: block;
    }
    #nav>article>.rightside>.login>a{
            display:none
        }

}
