*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alef', sans-serif;
}
.mainBody{
   
    display: flex;
    justify-content: center;
    height: auto;
    
}
.productOuterDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 100%;
    min-height: 200px;
 

}
.filterDiv {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: rgb(222, 217, 213);
    margin: 10px;
    border: 1px solid #ccc5c5;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
   
}
.filterDiv>button,.filterDiv>select{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 5vh;
    width: 50%;
    flex-wrap: wrap;
}
.productInnerDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height:250px;
    text-decoration: none;
    margin: 10px;
    
}

.card{
    display: flex;
    flex-direction: column;
    background-color:papayawhip;
    width:100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
}
.cardimg{
    width: 99%;
    height:70%;
    background-size: cover;
}
.cardBody{
    width: 99%;
    height: 30%;
 background-color: #ffffff;
 display: flex;
 flex-direction: column;
}
.brand{
    font-size: 13px;
    font-weight: 600;
    padding: 0%;
    color: black;
    height: 10%;
}
.description{
    font-size: 12px;
    color: black;
    padding: 0%;
    height: 25%;
}
.searchbox>input {
    width: 15vw;
    height: 5vh;
    border: none;
    color: rgb(21, 21, 21);
    outline: 0;
    padding: 0 28px 0 0px;
    border-radius: 0;
    background: none;
    font-size: 1.2vw;
    border-bottom: 1px solid rgba(57, 52, 52, 0.6);
}
.price{
    font-size: 13px;
    font-weight: 600;
    padding: 0%;
    color: black;
}
input[type="range"]{
    width: 65%;
}
.cardImg{
    border-radius: 0px;
}
.cardImg:hover{
   opacity: 0.8;
}


.productimg{
   width: 15%;
    height: 300px;
    padding-top: 70px;
}
.productimg>img{
    width: 100%;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(62, 4, 4);
}

.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.notFound>p{
    font-size: 35px;
}

/* -----------------responsive----------- */

 @media (max-width:600px) {
    .filterDiv{
        width: 40%;

    }
        .filterDiv>button,
        .filterDiv>select {
            height: 4vh;
            flex-wrap: wrap;
        }
 }


